#app {
    color: white;

    font-size: 40px;
    font-family: Roboto;
}

body {
    background-color: #34383B;
    background-image: url("https://cdn.discordapp.com/attachments/441675615758712835/722815115703091240/an-alluring-evening-19201080.jpg");
    background-attachment: fixed;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position: absolute;
    transition: opacity .3s linear;
}